# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-6ojv2.us-west4.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=OS35YIDSN2TGIEGM
sasl.password=rai0BmFWWF7ZL9J25NMQf/6Tkmm4OpoC/Hwv6IT/Dj+6S/tKGU0S3Le/VMEETdAF

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=6000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://{{ SR_ENDPOINT }}
basic.auth.credentials.source=USER_INFO
basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }}